In [4]:
%pip install apyori

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: apyori in /home/pedro/.local/lib/python3.10/site-packages (1.1.2)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd
from apyori import apriori

In [6]:
base = pd.read_csv('../Dados/Supermercado.csv', sep=';', encoding='cp1252', header=None)
base

        0     1        2    3         4      5       6
0   Leite  Café  Cerveja  Pão  Manteiga  Arroz  Feijão
1     Não   Sim      Não  Sim       Sim    Não     Não
2     Sim   Não      Sim  Sim       Sim    Não     Não
3     Não   Sim      Não  Sim       Sim    Não     Não
4     Sim   Sim      Não  Sim       Sim    Não     Não
5     Não   Não      Sim  Não       Não    Não     Não
6     Não   Não      Não  Não       Sim    Não     Não
7     Não   Não      Não  Sim       Não    Não     Não
8     Não   Não      Não  Não       Não    Não     Sim
9     Não   Não      Não  Não       Não    Sim     Sim
10    Não   Não      Não  Não       Não    Sim     Não

In [7]:
base.shape

(11, 7)

**O código a seguir altera a base de dados para colocar as ausências dos produtos**

In [10]:
for column in base:
    base[column]=base[column].fillna('~' + str(column))

In [9]:
base

        0     1        2    3         4      5       6
0   Leite  Café  Cerveja  Pão  Manteiga  Arroz  Feijão
1     Não   Sim      Não  Sim       Sim    Não     Não
2     Sim   Não      Sim  Sim       Sim    Não     Não
3     Não   Sim      Não  Sim       Sim    Não     Não
4     Sim   Sim      Não  Sim       Sim    Não     Não
5     Não   Não      Sim  Não       Não    Não     Não
6     Não   Não      Não  Não       Sim    Não     Não
7     Não   Não      Não  Sim       Não    Não     Não
8     Não   Não      Não  Não       Não    Não     Sim
9     Não   Não      Não  Não       Não    Sim     Sim
10    Não   Não      Não  Não       Não    Sim     Não

In [11]:
base.shape

(11, 7)

**Como estaremos treinando um modelo a priori, que recebe entradas em formato de lista, precisamos transformar o dataframe em uma lista de transações.**

In [12]:
transacoes = []
for i in range(len(base)):
  print(i)
  print(base.values[i, 0])
  transacoes.append([str(base.values[i, j]) for j in range(base.shape[1])])

0
Leite
1
Não
2
Sim
3
Não
4
Sim
5
Não
6
Não
7
Não
8
Não
9
Não
10
Não

In [93]:
transacoes

[['Leite', 'Café', 'Cerveja', 'Pão', 'Manteiga', 'Arroz', 'Feijão'],
 ['Não', 'Sim', 'Não', 'Sim', 'Sim', 'Não', 'Não'],
 ['Sim', 'Não', 'Sim', 'Sim', 'Sim', 'Não', 'Não'],
 ['Não', 'Sim', 'Não', 'Sim', 'Sim', 'Não', 'Não'],
 ['Sim', 'Sim', 'Não', 'Sim', 'Sim', 'Não', 'Não'],
 ['Não', 'Não', 'Sim', 'Não', 'Não', 'Não', 'Não'],
 ['Não', 'Não', 'Não', 'Não', 'Sim', 'Não', 'Não'],
 ['Não', 'Não', 'Não', 'Sim', 'Não', 'Não', 'Não'],
 ['Não', 'Não', 'Não', 'Não', 'Não', 'Não', 'Sim'],
 ['Não', 'Não', 'Não', 'Não', 'Não', 'Sim', 'Sim'],
 ['Não', 'Não', 'Não', 'Não', 'Não', 'Sim', 'Não']]

In [94]:
type(transacoes)

list

**Vamos chamar executar o algoritmo apriori e armazenar as regras obtidas**

In [95]:
regras = apriori(transacoes, min_support = 0.6, min_confidence = 0.7)
saida = list(regras) 
print(len(saida))
print(saida)

3
[RelationRecord(items=frozenset({'Não'}), support=0.9090909090909091, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Não'}), confidence=0.9090909090909091, lift=1.0)]), RelationRecord(items=frozenset({'Sim'}), support=0.9090909090909091, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Sim'}), confidence=0.9090909090909091, lift=1.0)]), RelationRecord(items=frozenset({'Sim', 'Não'}), support=0.9090909090909091, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Sim', 'Não'}), confidence=0.9090909090909091, lift=1.0), OrderedStatistic(items_base=frozenset({'Não'}), items_add=frozenset({'Sim'}), confidence=1.0, lift=1.1), OrderedStatistic(items_base=frozenset({'Sim'}), items_add=frozenset({'Não'}), confidence=1.0, lift=1.1)])]

In [96]:
print(saida[0])

RelationRecord(items=frozenset({'Não'}), support=0.9090909090909091, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Não'}), confidence=0.9090909090909091, lift=1.0)])

In [97]:
print(saida[1])

RelationRecord(items=frozenset({'Sim'}), support=0.9090909090909091, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Sim'}), confidence=0.9090909090909091, lift=1.0)])

In [98]:
print(saida[2])

RelationRecord(items=frozenset({'Sim', 'Não'}), support=0.9090909090909091, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Sim', 'Não'}), confidence=0.9090909090909091, lift=1.0), OrderedStatistic(items_base=frozenset({'Não'}), items_add=frozenset({'Sim'}), confidence=1.0, lift=1.1), OrderedStatistic(items_base=frozenset({'Sim'}), items_add=frozenset({'Não'}), confidence=1.0, lift=1.1)])

In [99]:
Antecedente = []
Consequente = []
suporte = []
confianca = []
lift = []

for resultado in saida:
  s = resultado[1]
  result_rules = resultado[2]
  for result_rule in result_rules:
    a = list(result_rule[0])
    b = list(result_rule[1])
    c = result_rule[2]
    l = result_rule[3]
    if 'nan' in a or 'nan' in b: continue
    if len(a) == 0 or len(b) == 0: continue
    Antecedente.append(a)
    Consequente.append(b)
    suporte.append(s)
    confianca.append(c)
    lift.append(l)
    RegrasFinais = pd.DataFrame({'Antecedente': Antecedente, 'Consequente': Consequente, 'suporte': suporte, 'confianca': confianca, 'lift': lift})

In [100]:
RegrasFinais

  Antecedente Consequente   suporte  confianca  lift
0       [Não]       [Sim]  0.909091        1.0   1.1
1       [Sim]       [Não]  0.909091        1.0   1.1

**Podemos ordenar estas regras por uma métrica desejada**

In [101]:
RegrasFinais.sort_values(by='lift', ascending =False)

  Antecedente Consequente   suporte  confianca  lift
0       [Não]       [Sim]  0.909091        1.0   1.1
1       [Sim]       [Não]  0.909091        1.0   1.1