In [2]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori

In [3]:
base = pd.read_csv('../Dados/Supermercado.csv', sep=';', encoding='cp1252', header=None)
base

        0     1        2    3         4      5       6
0   Leite  Café  Cerveja  Pão  Manteiga  Arroz  Feijão
1     Não   Sim      Não  Sim       Sim    Não     Não
2     Sim   Não      Sim  Sim       Sim    Não     Não
3     Não   Sim      Não  Sim       Sim    Não     Não
4     Sim   Sim      Não  Sim       Sim    Não     Não
5     Não   Não      Sim  Não       Não    Não     Não
6     Não   Não      Não  Não       Sim    Não     Não
7     Não   Não      Não  Sim       Não    Não     Não
8     Não   Não      Não  Não       Não    Não     Sim
9     Não   Não      Não  Não       Não    Sim     Sim
10    Não   Não      Não  Não       Não    Sim     Não

In [4]:
for column in base:
    base[column]=base[column].fillna('~' + str(column))
    
base

        0     1        2    3         4      5       6
0   Leite  Café  Cerveja  Pão  Manteiga  Arroz  Feijão
1     Não   Sim      Não  Sim       Sim    Não     Não
2     Sim   Não      Sim  Sim       Sim    Não     Não
3     Não   Sim      Não  Sim       Sim    Não     Não
4     Sim   Sim      Não  Sim       Sim    Não     Não
5     Não   Não      Sim  Não       Não    Não     Não
6     Não   Não      Não  Não       Sim    Não     Não
7     Não   Não      Não  Sim       Não    Não     Não
8     Não   Não      Não  Não       Não    Não     Sim
9     Não   Não      Não  Não       Não    Sim     Sim
10    Não   Não      Não  Não       Não    Sim     Não

In [5]:
transactions = []
for i in range(0, len(base)):
    transactions.append([str(base.values[i,j]) for j in range(0, len(base.columns))])

te = TransactionEncoder()
te_ary = te.fit(transactions).transform(transactions)
df = pd.DataFrame(te_ary, columns=te.columns_)

frequent_itemsets = apriori(df, min_support=0.01, use_colnames=True)

In [6]:
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))

In [7]:
frequent_itemsets

      support                                           itemsets  length
0    0.090909                                            (Arroz)       1
1    0.090909                                             (Café)       1
2    0.090909                                          (Cerveja)       1
3    0.090909                                           (Feijão)       1
4    0.090909                                            (Leite)       1
..        ...                                                ...     ...
125  0.090909       (Café, Cerveja, Manteiga, Pão, Arroz, Leite)       6
126  0.090909        (Café, Manteiga, Pão, Feijão, Arroz, Leite)       6
127  0.090909     (Cerveja, Manteiga, Pão, Feijão, Arroz, Leite)       6
128  0.090909      (Café, Cerveja, Manteiga, Pão, Feijão, Leite)       6
129  0.090909  (Café, Cerveja, Manteiga, Pão, Feijão, Arroz, ...       7

[130 rows x 3 columns]