In [1]:
%pip install pandas
%pip install mlxtend

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\pedro\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\pedro\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\pedro\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\pedro\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\pedro\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\pedro\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mlxtend in c:\users\pedro\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (0.23.1)
Requirement already satisfied: scipy>=1.2.1 in c:\users\pedro\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from mlxtend) (1.13.0)
Requirement already satisfied: numpy>=1.16.2 in c:\users\pedro\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from mlxtend) (1.26.4)
Requirement already satisfied: pandas>=0.24.2 in c:\users\pedro\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from mlxtend) (2.2.2)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\pedro\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\pedro\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from mlxtend) (3.8.4)
Requirement already satisfied: joblib>=0.13.2 in c:\users\pedro\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from mlxtend) (1.4.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\pedro\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib>=3.0.0->mlxtend) (1.2.1)
Requirement already satisfied: cycler>=0.10 in c:\users\pedro\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib>=3.0.0->mlxtend) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\pedro\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib>=3.0.0->mlxtend) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\pedro\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\pedro\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib>=3.0.0->mlxtend) (24.0)
Requirement already satisfied: pillow>=8 in c:\users\pedro\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib>=3.0.0->mlxtend) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\pedro\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib>=3.0.0->mlxtend) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\pedro\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib>=3.0.0->mlxtend) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\pedro\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas>=0.24.2->mlxtend) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\pedro\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas>=0.24.2->mlxtend) (2024.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\pedro\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from scikit-learn>=1.0.2->mlxtend) (3.4.0)
Requirement already satisfied: six>=1.5 in c:\users\pedro\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [3]:
base = pd.read_csv('../_Base/Supermercado.csv', sep=';', encoding='cp1252', header=None)
base

        0     1        2    3         4      5       6
0   Leite  Café  Cerveja  Pão  Manteiga  Arroz  Feijão
1     Não   Sim      Não  Sim       Sim    Não     Não
2     Sim   Não      Sim  Sim       Sim    Não     Não
3     Não   Sim      Não  Sim       Sim    Não     Não
4     Sim   Sim      Não  Sim       Sim    Não     Não
5     Não   Não      Sim  Não       Não    Não     Não
6     Não   Não      Não  Não       Sim    Não     Não
7     Não   Não      Não  Sim       Não    Não     Não
8     Não   Não      Não  Não       Não    Não     Sim
9     Não   Não      Não  Não       Não    Sim     Sim
10    Não   Não      Não  Não       Não    Sim     Não

In [4]:
for column in base:
    base[column]=base[column].fillna('~' + str(column))
    
base

        0     1        2    3         4      5       6
0   Leite  Café  Cerveja  Pão  Manteiga  Arroz  Feijão
1     Não   Sim      Não  Sim       Sim    Não     Não
2     Sim   Não      Sim  Sim       Sim    Não     Não
3     Não   Sim      Não  Sim       Sim    Não     Não
4     Sim   Sim      Não  Sim       Sim    Não     Não
5     Não   Não      Sim  Não       Não    Não     Não
6     Não   Não      Não  Não       Sim    Não     Não
7     Não   Não      Não  Sim       Não    Não     Não
8     Não   Não      Não  Não       Não    Não     Sim
9     Não   Não      Não  Não       Não    Sim     Sim
10    Não   Não      Não  Não       Não    Sim     Não

In [5]:
transactions = []
for i in range(0, len(base)):
    transactions.append([str(base.values[i,j]) for j in range(0, len(base.columns))])

te = TransactionEncoder()
te_ary = te.fit(transactions).transform(transactions)
df = pd.DataFrame(te_ary, columns=te.columns_)

frequent_itemsets = apriori(df, min_support=0.01, use_colnames=True)

In [6]:
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

      support                                           itemsets  length
0    0.090909                                            (Arroz)       1
1    0.090909                                             (Café)       1
2    0.090909                                          (Cerveja)       1
3    0.090909                                           (Feijão)       1
4    0.090909                                            (Leite)       1
..        ...                                                ...     ...
125  0.090909       (Pão, Manteiga, Arroz, Cerveja, Leite, Café)       6
126  0.090909        (Pão, Manteiga, Arroz, Feijão, Leite, Café)       6
127  0.090909     (Pão, Manteiga, Arroz, Feijão, Cerveja, Leite)       6
128  0.090909      (Pão, Manteiga, Feijão, Cerveja, Leite, Café)       6
129  0.090909  (Pão, Manteiga, Arroz, Feijão, Cerveja, Leite,...       7

[130 rows x 3 columns]

In [7]:
print(frequent_itemsets[['itemsets', 'support']])

                                              itemsets   support
0                                              (Arroz)  0.090909
1                                               (Café)  0.090909
2                                            (Cerveja)  0.090909
3                                             (Feijão)  0.090909
4                                              (Leite)  0.090909
..                                                 ...       ...
125       (Pão, Manteiga, Arroz, Cerveja, Leite, Café)  0.090909
126        (Pão, Manteiga, Arroz, Feijão, Leite, Café)  0.090909
127     (Pão, Manteiga, Arroz, Feijão, Cerveja, Leite)  0.090909
128      (Pão, Manteiga, Feijão, Cerveja, Leite, Café)  0.090909
129  (Pão, Manteiga, Arroz, Feijão, Cerveja, Leite,...  0.090909

[130 rows x 2 columns]

In [8]:
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.01)
rules['antecedent'] = rules['antecedents'].apply(lambda x: list(x)[0] if len(x) > 0 else 'None')
rules['consequent'] = rules['consequents'].apply(lambda x: list(x)[0] if len(x) > 0 else 'None')
rules = rules[['antecedent', 'consequent', 'support', 'confidence', 'lift']]
rules

     antecedent consequent   support  confidence  lift
0         Arroz       Café  0.090909         1.0  11.0
1          Café      Arroz  0.090909         1.0  11.0
2         Arroz    Cerveja  0.090909         1.0  11.0
3       Cerveja      Arroz  0.090909         1.0  11.0
4         Arroz     Feijão  0.090909         1.0  11.0
...         ...        ...       ...         ...   ...
1929      Arroz        Pão  0.090909         1.0  11.0
1930     Feijão        Pão  0.090909         1.0  11.0
1931    Cerveja        Pão  0.090909         1.0  11.0
1932      Leite        Pão  0.090909         1.0  11.0
1933       Café        Pão  0.090909         1.0  11.0

[1934 rows x 5 columns]